html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Swiper */
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#swiper-1 .swiper-pagination {
  bottom: 2rem;
}

@media screen and (max-width: 800px) {
  /* Swiper*/
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
}
